    <div class="container">
        <div class="row row-content" ng-controller="DishDetailController">
            <div class="col-xs-12">
                <button class="btn btn-xs btn-primary pull-right"
                type="button" ui-sref="app.menu">
                <!--A directive that binds a link (<a> tag) to a state. If the state has an associated URL, the directive will automatically generate & update the href attribute-->
                Back to Menu
            </button>
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object img-thumbnail"
                        ng-src={{dish.image}} alt="Uthappizza">
                        <!--ng-src used when src attribute contains{{}}angular markup-->
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">{{dish.name}}
                       <span class="label label-danger">{{dish.label}}</span>
                       <span class="badge">{{dish.price | currency}}</span></h2>
                       <p>{{dish.description}}</p>
                   </div>
               </div>
           </div>
           <div class="col-xs-3 col-xs-offset-1">
              <h4>Customer Comments</h4>
          </div>

          <div class="col-xs-6" style="margin-top: 5px">
              <label for="order" style="color: silver">
                  Sort by: 
              </label>
              <input type="text" id="order" placeholder="rating" ng-model="ord">
          </div>

          <div class="col-xs-9 col-xs-offset-1">
              <ul class="list-unstyled">
                <li ng-repeat="com in dish.comments | orderBy: ord">
                  <blockquote>
                    <p>{{com.rating}} Stars</p>
                    <p>{{com.comment}}</p>
                    <footer>{{com.author}}, 
                        {{com.date | date: 'MMM. dd, yyyy'}}
                    </footer>
                </blockquote>
            </li>
        </ul>
    </div>
    <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
        <ul class="list-unstyled" ng-show="!commentForm.comment.$error.required && !commentForm.firstName.$error.required && !commentForm.comment.$pristine">
            <li>
              <blockquote>
                <p>{{comment.rating}} Stars</p>
                <p>{{comment.comment}}</p>
                <footer>{{comment.author}}, 
                    {{comment.date | date: 'MMM. dd, yyyy'}}
                </footer>
            </blockquote>
        </li>
    </ul>
    <form class="form-horizontal" name="commentForm"
    ng-submit="submitComment()" novalidate>
    <!--push new comment into existing comments-->
    <div class="form-group"
    ng-class="{ 'has-error' : commentForm.firstName.$error.required && !commentForm.firstName.$pristine }">
    <label for="firstName" class="col-sm-3 control-label">First Name</label>
    <div class="col-sm-9">
        <input type="text" class="form-control"
        id="firstName" name="firstName"
        placeholder="Enter First Name" 
        ng-model="comment.author" required/>
        <!--required for form validation-->
        <span ng-show="commentForm.firstName.$error.required && !commentForm.firstName.$pristine" class="help-block">Your First name is required.</span>
    </div>
</div>
<div class="form-group">
    <label for="ratingRadio" class="col-sm-3 control-label">How good?</label>
    <div class="col-sm-9" id="ratingRadio">
        <label class="radio-inline"><input type="radio" name="rating" ng-model="comment.rating" ng-value="1">1</label>
        <label class="radio-inline"><input type="radio" name="rating" ng-model="comment.rating" ng-value="2">2</label>
        <label class="radio-inline"><input type="radio" name="rating" ng-model="comment.rating" ng-value="3">3</label>
        <label class="radio-inline"><input type="radio" name="rating" ng-model="comment.rating" ng-value="4">4</label>
        <label class="radio-inline"><input type="radio" name="rating" ng-model="comment.rating" ng-value="5">5</label>
    </div>
</div>
<div class="form-group"
ng-class="{ 'has-error' : commentForm.comment.$error.required && !commentForm.comment.$pristine }">
<label for="comment" class="col-sm-3 control-label">Your Comment</label>
<div class="col-sm-9">
    <textarea class="form-control" name="comment" id="comment" rows="5"
    placeholder="Enter Your Comment"
    ng-model="comment.comment" required></textarea>
    <span ng-show="commentForm.comment.$error.required && !commentForm.comment.$pristine" class="help-block">Your comment is required.</span>
</div>
</div>
<div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
        <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Send Comment</button>
        <div>
        </div>
    </form>
</div>
</div>
</div>
