<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="app"><img src="images/logo.png" height=30 width=41></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a ui-sref="app">
                    <span class="glyphicon glyphicon-home"
                    aria-hidden="true"></span> Home</a></li>
                    <li><a ui-sref="app.aboutus">
                        <span class="glyphicon glyphicon-info-sign"
                        aria-hidden="true"></span> About</a></li>
                        <li><a ui-sref="app.menu">
                           <span class="glyphicon glyphicon-list-alt"
                           aria-hidden="true"></span> 
                           Menu</a></li>
                           <li><a ui-sref="app.contactus">
                               <i class="fa fa-envelope-o"></i> Contact</a></li>
                           </ul>
                       </div>
                   </div>
               </nav>         
               
               <header class="jumbotron">

                <div class="container">
                    <div class="row row-header">
                        <div class="col-xs-12 col-sm-8">
                            <h1>Eating in Fantasy</h1>
                            <p style="padding:40px;"></p>
                            <p>We take inspiration from the World's best cuisines, and create
                               a unique fusion experience. Our lipsmacking creations will 
                               tickle your culinary senses!</p>
                           </div>
                           <div class="col-xs-12 col-sm-2">
                            <p style="padding:20px;"></p>
                            <img src="images/logo.png" class="img-responsive">
                        </div>
                        <div class="col-xs-12 col-sm-2">
                        </div>
                    </div>
                </div>
            </header>